<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Number in stock:</strong>
  <%= @movie.number_in_stock %>
</p>

<p>
  <strong>Daily rental rate:</strong>
  <%= @movie.daily_rental_rate %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
